<h1><%= @restaurant.name %></h1>

<div class="gallery">
<%= image_tag(@restaurant.image, :alt => @restaurant.name, :class => 'img-fluid show-restaurant img-thumbnail') %>
</div>
<div class="description">
  <% if @restaurant.cuisine.present? %>
  Cuisine: <%= link_to @restaurant.cuisine.name, @restaurant.cuisine %>
  <% end %><br>
  Location: <% if @restaurant.suburb.present? %>
  <%= link_to @restaurant.suburb.name, @restaurant.suburb %>
  <% end %><br>
  <% if @restaurant.price.present? %>
  Price: <%= @restaurant.price %>
  <% end %>
</div>

<div class="controls">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
  <%= link_to 'Delete', @restaurant, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
